/* 紐⑤컮�씪�슜 CSS */

/* 湲곕낯 CSS */

/* 紐⑤컮�씪�슜 CSS */

/* 湲곕낯 CSS */

.container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
}

.cfixed:after, .container:after {
  display: block;
  content: "";
  clear: both;
}



#wrap {
  background-color: black;
}
/* �씤�뜳�뒪 �쁺�뿭 CSS */


/* �뿤�뜑 �쁺�뿭 CSS */

.header {
  position: relative;
  padding: 12px 5%;
}

.header .logo {
  float: left;
}

.header .logo a {
  font-size: 38px;
  color: #A566FF;
  font-weight: bold;
}

.header .gnb {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #A566FF;
}

.header .gnb li a:hover, li a:focus {
  color: #000000;
}

.header .gnb li {
  border-bottom: 1px solid #303f9f;
}

.header .gnb li a {
  display: block;
  padding: 14px 0 14px 5%;
  font-size: 15px;
  color: #fff;
}

.header .menu-toggle-btn {
  float: right;
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
}

.header .menu-toggle-btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #A566FF;
}

.header .menu-toggle-btn span:nth-child(2) {
  margin: 5px 0;
}

/*�뒳�씪�씠�뜑�슜 css */

.slider img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* �냼媛쒖슜 */

.introduce-section {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.introduce-section .iimg{
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  float: center;
}


/* footer CSS */
.footer-section{
  margin-top: 50px;
}


.footer-section .footer-list li {
  margin-top: 50px;
  text-align: left;
  margin-bottom: 50px;
}

.footer-section {
  border: 1px solid;
  background: #43434D
}

.footer-section p {
  color: white;
  margin: 1px;
}
#wrap{
  background-color: #fafafa;
}


.content {
  background-color: #FAFAFA;
}

/* �깭釉붾┸�슜 */

@media all and (min-width:768px) {



  /* �뿤�뜑 �쁺�뿭 CSS */
  .header {
    position: static;
    padding: 28px 52px;
  }
  .header .gnb {
    display: block !important;
    position: static;
    float: right;
    width: auto;
    margin-top: 6px;
    background: none;
  }
  .header .gnb li {
    float: left;
    margin-left: 21px;
    font-size: 122px;
    border-bottom: 0;
  }
  .header .gnb li a {
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    color: #A566FF;
  }
  .header .menu-toggle-btn {
    display: none !important;
  }
  

  .footer-section .footer-list li {
    float: center;
    width: 60.59722222222222%;
    /* 242.6666666666667px 첨 768px*/
    margin-left: 2.604166666666667%;
    /* 20px 첨 768px*/
    margin-top: 0px;;
  }

  .footer-section .footer-list .address {

    width: 171.59722222222222%;
    line-height: 25px;

  }

  .footer-section .footer-list li:first-child {

    margin-left: 0;
  }



}

/* pc�슜 */

@media all and (min-width:1132px) {

  .introduce-section .iimg{
    width:  100%;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    float: center;
  }
}
