.index {
text-align:  right;
padding-top: 10px;
padding-right:2%;


}

.index button{
  border: 0;
  background-color: #fafafa;
  font-size: 13px;
  color: gray;
}

.index p{
  border: 0;
  background-color: #fafafa;
  font-size: 12px;
}
